<tr>
  <td>
    <%= image_tag product.image.thumb, alt: product.name %>
  </td>
  <td>
    <h4><%= link_to product.name, product %></h4>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol line_item.item_price_cents / 100.0 %>
  </td>
  <td>
    <%= humanized_money_with_symbol line_item.total_price_cents / 100.0 %>
  </td>
</tr>